.cartArea {
  height: 100vh;
  /* resize: horizontal; */
  overflow-x: auto;
  /* z-index: 10; */
}
.productArea {
  height: 100vh;
  /* resize: horizontal; */
  overflow-x: auto;
}

.bg-purple {
  /* background-color: #c2b0df; */
  background-color: rgba(194, 176, 223, 0.3);
}
