<!-- USER  -->
<div class="row" *ngIf="usersService._currentUserObj.Role !== 1">
  <div
    *ngIf="
      !settingsService._isCartVisible && cartsService._cartProducts.length !== 0
    "
    class="col-2 p-0 m-0"
  >
    <i
      [ngClass]="
        settingsService._screenSize === 'lg' ||
        settingsService._screenSize === 'md'
          ? 'fas fa-angle-right'
          : 'fab fa-opencart'
      "
      class="fa-2x float-end cursorPointer iconsColor"
      title="{{
        settingsService._screenSize === 'lg' ||
        settingsService._screenSize === 'md'
          ? 'לפתיחת עגלה'
          : 'מעבר לעגלה'
      }}"
      title=""
      (click)="settingsService._isCartVisible = true"
    ></i>
    <div *ngIf="!settingsService._isCartVisible" class="m-2">לפתיחת עגלה</div>
  </div>

  <div class="col-5">
    <h6 class="text-end">:סה"כ</h6>
    <h5 class="text-end">
      {{ cartsService._fixedTotalToPay.toFixed(2) }} &#8362;
    </h5>
  </div>
  <div class="col-5">
    <h3 class="amountCircle">{{ cartsService._cartProducts.length }}</h3>

    <i
      class="fas fa-cash-register fa-lg col-6 cursorPointer iconsColor"
      alt="cartIcon"
      title="לסגירת הזמנה"
      (click)="navToOrders()"
    >
    </i>
    <i
      class="fas fa-trash fa-lg col-6 cursorPointer iconsColor"
      alt="trashIcon"
      title="מחק הכל"
      *ngIf="cartsService._cartProducts.length !== 0"
      (click)="
        deleteProductFromCart('/carts/deleteProductFromCart', {
          cartID: cartsService._currentCart.ID
        })
      "
    >
    </i>
  </div>
  <div *ngIf="settingsService._isCartVisible" class="col-1 p-0 m-0">
    <i
      [ngClass]="
        settingsService._screenSize === 'lg' ||
        settingsService._screenSize === 'md'
          ? 'fas fa-angle-left'
          : 'fas fa-store'
      "
      class="fa-2x cursorPointer iconsColor"
      title="{{
        settingsService._screenSize === 'lg' ||
        settingsService._screenSize === 'md'
          ? 'לסגירת עגלה'
          : 'חזרה לפריטים'
      }}"
      (click)="settingsService._isCartVisible = false"
    ></i>
    <div *ngIf="settingsService._isCartVisible" class="m-2">סגור.י עגלה</div>
  </div>
</div>

<!-- ADMIN  -->
<div *ngIf="usersService._currentUserObj.Role === 1">
  <i
    title="להוספת מוצר"
    class="fas fa-plus cursorPointer iconsColor"
    (click)="productsService.addProdClick()"
  ></i>
</div>
