<form action="" class="p-2">
  <div class="row text-center pe-5">
    <h4>פרטי משלוח</h4>
  </div>
  <div class="row text-end pe-5">
    <div class="col-12 col-lg-7">
      <span class="text-center">בחר תאריך למשלוח</span>
      <h6>
        {{ ordersService._newOrder.ShippingDate.split("T").shift() }}:התאריך
        הנבחר
      </h6>
      <app-calendar></app-calendar>
      <br />
    </div>
    <div class="col-12 col-lg-5">
      <h6>פרטי משלוח</h6>
      <label for="ShippingCity">
        : בחר עיר
        <select
          class="form-select m-2 rounded-pill shadow-md px-4"
          id="ShippingCity"
          aria-label="Default select example"
          [(ngModel)]="ordersService._newOrder.ShippingCity"
          [ngModelOptions]="{ standalone: true }"
          (dblclick)="
            ordersService._newOrder.ShippingCity =
              usersService._currentUserObj.City
          "
        >
          <option
            class="text-end"
            *ngFor="let city of cities; let i = index"
            value="{{ city.name }}"
          >
            {{ city.name }} &nbsp; &nbsp;
          </option>
        </select>
      </label>
      <br />
      <label for="ShippingStreet" class="text-end">
        :שם רחוב
        <input
          [(ngModel)]="ordersService._newOrder.ShippingStreet"
          [ngModelOptions]="{ standalone: true }"
          id="ShippingStreet"
          type="text"
          class="form-control m-2 rounded-pill shadow-md px-4"
          placeholder="שם רחוב"
          required
          (dblclick)="
            ordersService._newOrder.ShippingStreet =
              usersService._currentUserObj.Street
          "
        />
      </label>
      <br />
      <h4>תשלום</h4>
      <h5>{{ cartsService._fixedTotalToPay.toFixed(2) }} סה"כ לתשלום</h5>
      <i
        *ngIf="ordersService._isRegexp"
        class="far fa-check-circle text-success"
      ></i>
      <i
        *ngIf="!ordersService._isRegexp"
        class="far fa-times-circle text-danger"
      ></i>
      <label for="CreditCard" class="text-end">
        הכנס כרטיס אשראי
        <input
          [(ngModel)]="ordersService._newOrder.CreditCard"
          [ngModelOptions]="{ standalone: true }"
          id="CreditCard"
          type="text"
          class="form-control m-2 rounded-pill shadow-md px-4"
          required
          (keyup)="ordersService.creditRegex($event)"
          [ngClass]="
            ordersService._isRegexp ? 'border-success' : 'border-danger'
          "
        />
      </label>
      <br />
      <button
        class="btn bg-purple-color m-2"
        (click)="ordersService.addOrder('/orders/insertNewOrder', $event)"
      >
        סגירת הזמנה
      </button>
    </div>
  </div>
</form>
