/* You can add global styles to this file, and also import other style files */
/* font-family: 'Amatic SC', cursive;
font-family: 'Heebo', sans-serif;
font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Quicksand', sans-serif; */

.purpleColor {
  color: #935aee;
}

.purpleBackgroundColor {
  background-color: #935aee;
  color: white;
}

.markMe {
  background-color: yellow;
}

.cursorPointer {
  cursor: pointer;
}

.iconsColor {
  color: rgba(0, 0, 0, 0.699);
}

.bg-light-purple {
  /* background-color: #c2b0df; */
  background-color: #c2b0df;
}

.hideMe {
  visibility: hidden;
}

.HeeboFont {
  font-family: "Heebo", sans-serif;
}
.MerriweatherFont {
  font-family: "Merriweather", serif;
}
.QuicksandFont {
  font-family: "Quicksand", sans-serif;
}
.MPLUSRounded1cFont {
  font-family: "M PLUS Rounded 1c", sans-serif;
}
.AmaticSCFont {
  font-family: "Amatic SC", cursive;
}

#scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

#scrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}
