/* You can add global styles to this file, and also import other style files */
/* font-family: 'Amatic SC', cursive;
font-family: 'Heebo', sans-serif;
font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Quicksand', sans-serif; */

.purpleColor {
  color: #935aee;
}

.purpleBackgroundColor {
  background-color: #935aee;
  color: white;
}
