/* You can add global styles to this file, and also import other style files */
/* font-family: 'Amatic SC', cursive;
font-family: 'Heebo', sans-serif;
font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Quicksand', sans-serif; */

.purpleColor {
  color: #935aee;
}

.purpleBackgroundColor {
  background-color: #935aee;
  color: white;
}

.markMe {
  background-color: yellow;
}

.cursorPointer {
  cursor: pointer;
}

.iconsColor {
  color: rgba(0, 0, 0, 0.699);
}

.bg-light-purple {
  /* background-color: #c2b0df; */
  background-color: #c2b0df;
}

.hideMe {
  visibility: hidden;
}

.heeboFont {
  /* font-family: "Heebo", sans-serif; */
  /* font-family: "Merriweather", serif; */
  /* font-family: "Quicksand", sans-serif;*/
  /* font-family: "M /PLUS Rounded 1c", sans-serif; */
  font-family: "Amatic SC", cursive;
}
