<div *ngIf="!ordersService._successfulOrder.ID">
  <h4 class="text-center">העגלה שלי</h4>
  <div class="cursorPointer" routerLink="/shop">חזרה לחנות</div>
  <input
    [(ngModel)]="ordersService.searchTerm"
    [ngModelOptions]="{ standalone: true }"
    type="text"
    class="form-control m-2 rounded-pill shadow-md px-4"
    placeholder=" חפש פריט בעגלה"
    autoFocus=""
  />
  <div id="scrollbar-purple" class="receptionArea">
    <div
      *ngFor="
        let prod of cartsService._cartProducts
          | filteredArray: ordersService.searchTerm
      "
    >
      <app-single-reception-prod [prod]="prod"></app-single-reception-prod>
    </div>
  </div>
</div>
