<form ngNativeValidate class="p-2">
  <h5 class="mb-3 fw-normal text-center">Register</h5>
  <input
    [(ngModel)]="usersService._newUserObject.ID"
    [ngModelOptions]="{ standalone: true }"
    id="ID"
    type="text"
    class="form-control m-2"
    placeholder="ID"
    autoFocus=""
    required
    pattern="[0-9]{9}"
    title="יש להכניס ת.ז כולל ספרת ביקורת"
  />

  <input
    [(ngModel)]="usersService._newUserObject.Email"
    [ngModelOptions]="{ standalone: true }"
    type="email"
    name="userEmail"
    id="userEmail"
    required="required"
    placeholder="Email"
  />
  <hr />
  <input
    [(ngModel)]="usersService._newPassword"
    [ngModelOptions]="{ standalone: true }"
    id="pass"
    type="password"
    required
    placeholder="password"
    autocomplete=""
  />
  <input
    [(ngModel)]="usersService._newPasswordRepeat"
    [ngModelOptions]="{ standalone: true }"
    id="pass_repeat"
    type="password"
    required
    placeholder="confirm password"
    (change)="(usersService.checkPassword)"
  />
  <button class="btn btn-success m-2" type="submit">Log in</button>
</form>
