<div class="calendarContainer">
  <div class="month bg-light-purple">
    <i
      class="fas fa-angle-left prev"
      [ngClass]="_isItCurrentMonth ? 'hideMe' : ''"
      (click)="prevIconClicked()"
    ></i>
    <div class="date py-2">
      <div>{{ this._currentDateStr }}</div>
      <h6>{{ this._monthsHEB[this._currentMonthIndex] }}, {{ this.year }}</h6>
      <div (click)="backToTodayClicked()" class="cursorPointer">חזור להיום</div>
    </div>
    <i class="fas fa-angle-right next" (click)="nextIconClicked()"></i>
  </div>

  <table class="table table-sm">
    <thead>
      <tr>
        <th *ngFor="let day of this._weekDays" scope="col" class="text-center">
          {{ day }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of _monthDaysInWeeks">
        <td
          class="cursorPointer"
          *ngFor="let day of item"
          [ngClass]="
            !day.availability || day.isPast
              ? 'opacityDay cursorNotAllowed'
              : day.type === 1
              ? 'today'
              : day.type === 2
              ? 'next-date'
              : day.type === 0
              ? 'prev-month'
              : ''
          "
          (click)="someDayClicked(day, $event)"
        >
          {{ day.num }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
