<div class="input-group">
  <input
    class="form-control rounded-pill shadow-md"
    placeholder="תאריך למשלוח"
    angular-mydatepicker
    name="mydate"
    [(ngModel)]="model"
    [options]="myDatePickerOptions"
    [defaultMonth]="defMonth"
    [locale]="locale"
    #dp="angular-mydatepicker"
    (dateChanged)="onDateChanged($event)"
    [attr.disabled]="disabled ? '' : null"
    autocomplete="off"
  />
  <div class="input-group-append">
    <button
      type="button"
      class="btn bg-purple-color ms-2"
      (click)="clearDate()"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="input-group-append">
    <button
      type="button"
      class="btn bg-purple-color ms-2"
      (click)="dp.toggleCalendar()"
    >
      <i class="fa fa-calendar"></i>
    </button>
  </div>
</div>

<div
  *ngIf="inputText !== ''"
  class="m-3 p-2"
  [ngClass]="{
    okDate: validDate && selectedTextNormal.length,
    invalidDate: !validDate
  }"
>
  <div *ngIf="validDate">{{ selectedTextNormal }}</div>
  <span *ngIf="!validDate">Invalid date</span>
</div>
