<div class="p-3">
  <!-- <h6 class="text-center">{{ prod.product.ProductName }}</h6> -->
  <h6 class="text-center" [innerHTML]="prod.product.ProductName"></h6>

  <div class="row">
    <div class="col-8">
      <div class="text-end">&#8362;{{ prod.product.Price }} :מחיר ליחידה</div>
      <div class="text-end">{{ prod.Qnt }} :כמות</div>
      <div class="text-end">
        &#8362; {{ (prod.product.Price * prod.Qnt).toFixed(2) }} :סה"כ
      </div>
      <h6>{{ prod.isMark }}</h6>
    </div>
    <div class="col-4">
      <img
        src="http://www.localhost:5001/{{ prod.product.ImageName }}"
        class="card-img-top productImg"
        alt="{{ prod.product.ProductName }}"
      />
    </div>
  </div>
  <!-- <div class="row">
    <button (click)="this.highlight('fox')">Highlight</button>

    <div id="inputText">The fox went over the fence</div>
  </div> -->
</div>
<!-- http://www.localhost:5001/assets/images/products/ -->
