<form method="posts">
  <h6 class="h3 mb-3 fw-normal">Login</h6>
  <input
    [(ngModel)]="usersService._logInEmail"
    [ngModelOptions]="{ standalone: true }"
    type="email"
    class="form-control m-2"
    placeholder="Email address"
    required=""
    autoFocus=""
  />
  <input
    [(ngModel)]="usersService._logInPassword"
    [ngModelOptions]="{ standalone: true }"
    type="password"
    class="form-control m-2"
    placeholder="Password"
    required=""
    autoComplete=""
  />
  <button
    class="w-100 btn btn-lg m-2 btn-primary"
    type="submit"
    (click)="usersService.gatUserFromDB('/users/getUser', $event)"
  >
    Log in
  </button>
</form>
<!--"myfForm mx-auto mt-5 p-5"  -->
