/* .cartContainer {
  height: 100% !important;
  overflow-y: auto;
} */

/* .cartProdArea {
  height: 95vh !important;
  margin-left: 13px;
  position: fixed;
  width: 16%;
  overflow-y: auto;
} */

/* TODO: responsible cart*/
/* media="(min-width: 1025px)" @media print,
screen and (min-width: 1025px) .cartContainer .innerCart {
  height: 100%;
  box-shadow: 0 3px 9px 0 rgb(0 0 0 / 35%);
  position: relative;
  overflow: hidden;
  z-index: 1;
} */
