<!-- user cart -->
<div class="cartContainer" *ngIf="usersService._currentUserObj.Role !== 1">
  <div class="row">
    <div class="col-6">
      <h6>:סה"כ</h6>
      <h5>{{ cartsService._fixedTotalToPay.toFixed(2) }} &#8362;</h5>
    </div>
    <div class="col-6">
      <h3 class="amountCircle">{{ cartsService._cartProducts.length }}</h3>
      <i class="fas fa-shopping-cart fa-2x iconsColor" routerLink="/orders"></i>
      <i
        title="מחק הכל"
        *ngIf="cartsService._cartProducts.length !== 0"
        class="fas fa-trash fa-lg ms-4 iconsColor"
        (click)="
          cartsService.deleteProductFromCart('/carts/deleteProductFromCart', {
            cartID: cartsService._currentCart.ID
          })
        "
      ></i>
    </div>
  </div>
  <hr />
  <div class="cartProdArea">
    <div *ngFor="let item of cartsService._cartProducts">
      <app-single-cart-prod [item]="item"></app-single-cart-prod>
    </div>
  </div>
</div>
<div *ngIf="cartsService._deleteConfirmation">aa</div>
<!-- admin cart -->
<div *ngIf="usersService._currentUserObj.Role === 1">
  <div class="row">
    <div class="col-6">
      <i class="fas fa-plus" (click)="productsService.addProdClick()"></i>
    </div>
    <div class="col-6"></div>
  </div>
  <hr />
  <div *ngIf="productsService._showAdminForm">
    <app-form-product></app-form-product>
  </div>
</div>
