<!-- user cart -->
<div *ngIf="usersService._currentUserObj.Role !== 1">
  <div class="row">
    <div class="col-6"></div>
    <div class="col-6">
      <i
        class="fas fa-shopping-bag fa-2x shoppingBagIcon"
        routerLink="/orders"
      ></i>
    </div>
  </div>
  <hr />
  <button
    *ngIf="cartsService._cartProducts.length !== 0"
    class="btn btn-danger"
    (click)="
      cartsService.deleteProductFromCart('/carts/deleteProductFromCart', {
        cartID: cartsService._currentCart.ID
      })
    "
  >
    <i class="fas fa-trash-alt"></i> &nbsp;מחק הכל
  </button>
  <hr />

  <div *ngFor="let item of cartsService._cartProducts">
    <app-single-cart-prod [item]="item"></app-single-cart-prod>
  </div>
</div>
<!-- admin cart -->
<div *ngIf="usersService._currentUserObj.Role === 1">
  <div class="row">
    <div class="col-6">
      <i class="fas fa-plus" (click)="productsService.addProdClick()"></i>
    </div>
    <div class="col-6"></div>
  </div>
  <hr />
  <div *ngIf="productsService._showAdminForm">
    <app-form-product></app-form-product>
  </div>
</div>
<!-- (click)="productsService._showAdminForm = true; productsService._addVsEdit = 0 " -->
<!--  <i
        class="fas fa-plus"
        (click)="
          productsService._showAdminForm = true; productsService._addVsEdit = 0;productsService._newProductObj = new Product()
        "
      ></i> -->
