.iconsColor {
  color: rgba(0, 0, 0, 0.699);
  cursor: pointer;
}

.amountCircle {
  width: 24px;
  height: 24px;
  /* line-height: 50px; */
  /* font-family: "Heebo", sans-serif; */
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
  font-size: 14px;
  border-radius: 100%;
  border: solid 1px rgba(0, 0, 0, 0.699);
  /* background: rgba(0, 0, 0, 0.699); */
  /* color: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
  top: 9px;
}
/* .cartContainer {
  height: 100% !important;
  overflow-y: auto;
} */

.cartProdArea {
  height: 95vh !important;
  margin-left: 13px;
  position: fixed;
  width: 16%;
  overflow-y: auto;
}
