<!-- user cart -->
<div *ngIf="usersService._currentUserObj.Role !== 1">
  <div class="bg-light-purple rounded p-3">
    <app-cart-header></app-cart-header>
  </div>

  <hr />
  <div>
    <div *ngFor="let item of cartsService._cartProducts">
      <app-single-cart-prod [item]="item"></app-single-cart-prod>
    </div>
  </div>
</div>

<!-- admin cart -->
<div *ngIf="usersService._currentUserObj.Role === 1">
  <div class="bg-light-purple rounded p-3">
    <app-cart-header></app-cart-header>
  </div>
  <hr />

  <div [ngClass]="productsService._showAdminForm ? '' : 'd-none'">
    <i
      title="סגירת טופס"
      class="far fa-times-circle cursorPointer iconsColor"
      (click)="productsService._showAdminForm = false"
      (click)="checkSize()"
    ></i>
    <app-form-product></app-form-product>
  </div>
</div>
