<div class="container pt-5">
  <h4 class="text-center">
    !חנות מובחרת <br />
    מגוון רחב של מוצרים
  </h4>
  <h5 class="text-center">
    כמות מוצרים בחנות: {{ productsService._productsQnt.prodCount }}
  </h5>
  <h5 class="text-center">
    כמות הזמנות בחנות: {{ ordersService._ordersQnt.ordersCount }}
  </h5>
  <img
    src="assets/webImages/sweet_heart _label_img_black.png"
    alt="Sweet Heart logo image"
    class="rounded mx-auto d-block logoImg"
  />
</div>
<!-- src="../../../../../dist/client/assets/webImages/sweet_heart _label_img_black.png" -->
<!-- assets/webImages/sweet_heart _label_img_black.png -->
