<h5>כמות הזמנות בחנות: {{ ordersService._ordersQnt.ordersCount }}</h5>
<h5>כמות מוצרים בחנות: {{ productsService._productsQnt.prodCount }}</h5>
<p>: התראות</p>
<!-- FIXME: למה שלום מופיע כל הזמן -->
<h4>
  {{
    usersService._currentUserObj.ID === 0
      ? ""
      : "שלום, " + usersService._currentUserObj.FirstName
  }}
</h4>
<!-- FIXME: מתכונת הזמן לא תקינה והטקסט נכתב באמצע התאריך -->
<p>
  {{
    cartService._welcomeByCartStatus === 1 ? "ברוכ.ה הבא.ה לקנייתך הראשונה" : ""
  }}
</p>
<p>
  {{
    cartService._welcomeByCartStatus === 2
      ? "  :יש לך עגלה פתוחה מ" + cartService._currentCart.createdAt
      : ""
  }}
</p>
<p>
  {{
    cartService._welcomeByCartStatus === 3
      ? ": רכישתך האחרונה בוצעה ב" + cartService._recentCart.createdAt
      : ""
  }}
</p>
