<div class="container-fluid mx-auto px-0">
  <p class="text-end mx-auto" *ngIf="usersService._currentUserObj.ID">
    : התראות!
  </p>
  <h4 class="text-end mx-auto" *ngIf="usersService._currentUserObj.ID">
    ,שלום
    {{ usersService._currentUserObj.FirstName }}
  </h4>
  <h6
    class="text-end mx-auto"
    *ngIf="
      usersService._currentUserObj.ID && cartService._welcomeByCartStatus === 1
    "
  >
    ברוכ.ה הבא.ה לקנייתך הראשונה
  </h6>
  <h6
    class="text-end mx-auto"
    *ngIf="
      usersService._currentUserObj.ID && cartService._welcomeByCartStatus === 2
    "
  >
    :יש לך עגלה פתוחה מ
  </h6>

  <p
    class="text-end mx-auto"
    *ngIf="
      usersService._currentUserObj.ID && cartService._welcomeByCartStatus === 2
    "
  >
    {{ cartService._currentCart.createdAt.split("T").shift() }}
  </p>

  <h6
    class="text-end mx-auto"
    *ngIf="
      usersService._currentUserObj.ID && cartService._welcomeByCartStatus === 2
    "
  >
    {{ cartService._fixedTotalToPay.toFixed(2) }} סכום לתשלום
  </h6>

  <h6
    class="text-end mx-auto"
    *ngIf="
      usersService._currentUserObj.ID && cartService._welcomeByCartStatus === 3
    "
  >
    רכישתך האחרונה בוצעה ב
  </h6>
  <p
    class="text-end mx-auto"
    *ngIf="
      usersService._currentUserObj.ID && cartService._welcomeByCartStatus === 3
    "
  >
    {{
      cartService._recentCart
        ? cartService._recentCart.createdAt.split("T").shift()
        : ""
    }}
  </p>
</div>
