<h5>orders in our shop: {{ ordersService._ordersQnt.ordersCount }}</h5>
<h5>products in our shop: {{ productsService._productsQnt.prodCount }}</h5>
<p>notifications</p>
<!-- FIXME: למה שלום מופיע כל הזמן -->
<h4>
  {{
    usersService._currentUserObj.ID === 0
      ? ""
      : "Hello, " + usersService._currentUserObj.FirstName
  }}
</h4>
<p>
  {{
    cartService._welcomeByCartStatus === 1
      ? "welcome for your first purchase"
      : ""
  }}
</p>
<p>
  {{
    cartService._welcomeByCartStatus === 2
      ? "you have an open cart from  " + cartService._currentCart.createdAt
      : ""
  }}
</p>
<p>
  {{
    cartService._welcomeByCartStatus === 3
      ? "your last purchase was on  " + cartService._recentCart.createdAt
      : ""
  }}
</p>
