<form method="post" class="p-2 addProdForm">
  <h5 class="mb-3 fw-normal text-center">הוסף מוצר</h5>
  <input
    [(ngModel)]="productsService._newProductObj.ProductName"
    [ngModelOptions]="{ standalone: true }"
    type="text"
    class="form-control m-2"
    placeholder="שם המוצר"
    required=""
    autoFocus=""
  />

  <input
    [(ngModel)]="productsService._newProductObj.Price"
    [ngModelOptions]="{ standalone: true }"
    type="number"
    class="form-control m-2"
    placeholder="מחיר"
    required=""
    autoFocus=""
  />
  <input
    [(ngModel)]="productsService._newProductObj.Description"
    [ngModelOptions]="{ standalone: true }"
    type="text"
    class="form-control m-2"
    placeholder="תיאור"
    required=""
    autoFocus=""
  />
  <select
    [(ngModel)]="productsService._newProductObj.categoryID"
    [ngModelOptions]="{ standalone: true }"
    class="form-control m-2"
  >
    <option value="0" selected>בחר קטגוריה</option>
    <option
      value="{{ category.ID }}"
      *ngFor="let category of productsService._categories"
    >
      {{ category.CategoryName }}
    </option>
  </select>

  <input
    type="file"
    class="form-control m-2"
    [ngClass]="productsService._isImgUploaded ? 'border-success' : ''"
    (change)="productsService.fileChange($event)"
  />

  <button
    class="btn btn-outline-success m-2"
    (click)="productsService.uploadIMG()"
  >
    העלה תמונה
  </button>
  <button
    *ngIf="productsService._addVsEdit === 0"
    class="btn btn-outline-success m-2"
    (click)="productsService.addNewProd('/products/addProduct', $event)"
  >
    הוסף מוצר
  </button>

  <button
    *ngIf="productsService._addVsEdit === 1"
    class="btn btn-outline-success m-2"
    (click)="productsService.updateProd('/products/updateProduct', $event)"
  >
    עדכן פרטים
  </button>
</form>
