<div class="row pt-4">
  <div class="col-4 align-self-center">
    <i
      class="fas fa-plus-circle iconsColor"
      (click)="
        cartsService.changeQnt('/carts/changeQnt', {
          productID: item.productID,
          type: 1,
          quantity: item.Qnt,
          price: item.product.Price
        })
      "
    ></i>
  </div>

  <div class="col-4 align-self-end">
    <h6>{{ item.Qnt }}</h6>
  </div>

  <div class="col-4 align-self-center">
    <i
      class="fas fa-minus-circle iconsColor"
      (click)="
        cartsService.changeQnt('/carts/changeQnt', {
          productID: item.productID,
          type: 2,
          quantity: item.Qnt,
          price: item.product.Price
        })
      "
    ></i>
  </div>
</div>
