<div class="row pt-4">
  <div class="col-4 align-self-center">
    <i
      title="הוספה"
      class="fas fa-plus-circle cursorPointer iconsColor"
      (click)="
        changeQnt('/carts/changeQnt', {
          productID: isProdInCart ? item.productID : product.ID,
          type: 1,
          quantity: isProdInCart ? item.Qnt : product.qnt,
          price: isProdInCart ? item.product.Price : product.Price
        })
      "
    ></i>
  </div>

  <div class="col-4 align-self-end">
    <h6>{{ isProdInCart ? item.Qnt : product.qnt }}</h6>
  </div>

  <div class="col-4 align-self-center">
    <i
      title="הורדה"
      class="fas fa-minus-circle cursorPointer iconsColor"
      (click)="
        changeQnt('/carts/changeQnt', {
          productID: isProdInCart ? item.productID : product.ID,
          type: 2,
          quantity: isProdInCart ? item.Qnt : product.qnt,
          price: isProdInCart ? item.product.Price : product.Price
        })
      "
    ></i>
  </div>
</div>
