<form ngNativeValidate class="formStep2 p-2">
  <div class="row">
    <div class="col-6">
      <label for="FirstName" class="text-end">
        :שם פרטי
        <input
          [(ngModel)]="usersService._newUserObject.FirstName"
          [ngModelOptions]="{ standalone: true }"
          id="FirstName"
          type="text"
          class="form-control rounded-pill shadow-md px-4 m-2"
          placeholder="שם פרטי"
          autoFocus=""
          required
        />
      </label>
      <br />
      <label for="LastName" class="text-end">
        :שם משפחה
        <input
          [(ngModel)]="usersService._newUserObject.LastName"
          [ngModelOptions]="{ standalone: true }"
          id="LastName"
          type="text"
          class="form-control m-2 rounded-pill shadow-md px-4"
          placeholder="שם משפחה"
          autoFocus=""
          required
        />
      </label>
      <br />
      <label for="Phone" class="text-end">
        :מספר טלפון
        <input
          [(ngModel)]="usersService._newUserObject.Phone"
          [ngModelOptions]="{ standalone: true }"
          id="Phone"
          type="text"
          class="form-control m-2 rounded-pill shadow-md px-4"
          placeholder="מספר טלפון"
          autoFocus=""
          required
          pattern="[0-9]{20}"
          title="יש להכניס מספר טלפון"
        />
      </label>
      <br />
    </div>
    <div class="col-6">
      <label for="city">
        : בחר עיר
        <select
          class="form-select m-2 rounded-pill shadow-md px-4"
          id="city"
          aria-label="Default select example"
          [(ngModel)]="usersService._newUserObject.City"
          [ngModelOptions]="{ standalone: true }"
        >
          <option
            *ngFor="let city of cities; let i = index"
            value="{{ city.name }}"
          >
            {{ city.name }}
          </option>
        </select>
      </label>
      <br />
      <label for="Street" class="text-end">
        :שם רחוב
        <input
          [(ngModel)]="usersService._newUserObject.Street"
          [ngModelOptions]="{ standalone: true }"
          id="Street"
          type="text"
          class="form-control m-2 rounded-pill shadow-md px-4"
          placeholder="שם רחוב"
          autoFocus=""
          required
        />
      </label>
      <br />
      <label for="StreetNumber" class="text-end">
        :מספר בניין
        <input
          [(ngModel)]="usersService._newUserObject.StreetNumber"
          [ngModelOptions]="{ standalone: true }"
          id="StreetNumber"
          type="number"
          min="1"
          class="form-control m-2 rounded-pill shadow-md px-4"
          required
        />
      </label>
      <br />
      <label for="FlatNumber" class="text-end">
        :מספר דירה
        <input
          [(ngModel)]="usersService._newUserObject.FlatNumber"
          [ngModelOptions]="{ standalone: true }"
          id="FlatNumber"
          type="number"
          min="1"
          class="form-control m-2 rounded-pill shadow-md px-4"
          required
        />
      </label>
      <br />

      <!--עם הקליק מתבטלים הפרטנים -->
      <button
        class="btn bg-purple-color m-2"
        type="submit"
        (click)="usersService.addNewUserToDB('/users/insertUser', $event)"
      >
        הרשמה
      </button>
    </div>
  </div>
</form>
