<!-- <div
  class="rectangle bg-danger"
  mwlResizable
  [enableGhostResize]="true"
  (resizeEnd)="onResizeEnd($event)"
  [ngStyle]="style"
>
  <div
    class="resize-handle-top bg-info"
    mwlResizeHandle
    [resizeEdges]="{ top: true }"
  ></div>
  <div
    class="resize-handle-left bg-dark"
    mwlResizeHandle
    [resizeEdges]="{ left: true }"
  ></div>
  <div
    class="resize-handle-right bg-warning"
    mwlResizeHandle
    [resizeEdges]="{ right: true }"
  ></div>
  <div
    class="resize-handle-bottom bg-success"
    mwlResizeHandle
    [resizeEdges]="{ bottom: true }"
  ></div>
</div> -->

<!-- TODO:  עובד ! לא לגעת -->
<!-- <div
  class="rectangle"
  mwlResizable
  [enableGhostResize]="true"
  (resizeEnd)="onResizeEnd($event)"
  [ngStyle]="style"
>
  <div
    class="resize-handle-right bg-warning"
    mwlResizeHandle
    [resizeEdges]="{ right: true }"
  ></div>
</div> -->

<!-- TODO:  עובד ! לא לגעת -->
<!-- ssssssssssssssssssssssssssssssssssssssssssssssssssss -->
<!-- <div
  class="rectangle"
  mwlResizable
  [enableGhostResize]="true"
  (resizeEnd)="onResizeEnd($event)"
  [ngStyle]="style"
>
  <div
    class="resize-handle-right bg-warning"
    mwlResizeHandle
    [resizeEdges]="{ right: true }"
  ></div>
</div>
<br /><br />
<hr />
<br /><br /> -->
<!-- sssssssssssssssssssssssssssssssssssssssssssssssss -->
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-3"><app-cart></app-cart></div>

    <div class="col-9">
      <div class="row"><app-products-area></app-products-area></div>
    </div>
  </div>
</div> -->
<!-- ssssssssssssssssssssss -->
<!-- <div class="container-fluid">
  <div class="row">
    <div
      class="col-3 cartArea"
      class="rectangle"
      mwlResizable
      [enableGhostResize]="true"
      (resizeEnd)="onResizeEnd($event)"
      [ngStyle]="style"
    >
      <app-cart></app-cart>
      <div
        class="resize-handle-right bg-warning"
        mwlResizeHandle
        [resizeEdges]="{ right: true }"
      ></div>
    </div>
    <div class="col-9">
      <div class="row productArea"><app-products-area></app-products-area></div>
    </div>
  </div>
</div> -->
<!-- ssssssssssssssssss -->
<!-- <hr /> -->
<!-- <nav style="height: 77px"></nav>
<div class="split edit" style="max-height: calc(100vh -77px)">
  <div
    class="flex-order-1 split split-horizontal"
    style="width: calc(23.8668% - 2px); height: 100px"
  ></div>
  <div
    class="gutter gutter-horizontal"
    style="width: 4px; cursor: col-resize; height: 100px"
    (mousemove)="onResizeEnd($event)"
  ></div>
  <div
    class="split split-horizontal d-flex column"
    style="
      width: calc(76.1332% - 2px);
      user-select: none;
      pointer-events: none;
      height: 100px;
    "
  ></div>
</div> -->

<div id="shop">
  <div id="cart" ondragover="update_size(event);">Cart</div>
  <div id="bar">&nbsp;</div>
  <div id="products" ondragover="update_size(event);">Products</div>
</div>
