<!-- <div
  class="rectangle bg-danger"
  mwlResizable
  [enableGhostResize]="true"
  (resizeEnd)="onResizeEnd($event)"
  [ngStyle]="style"
>
  <div
    class="resize-handle-top bg-info"
    mwlResizeHandle
    [resizeEdges]="{ top: true }"
  ></div>
  <div
    class="resize-handle-left bg-dark"
    mwlResizeHandle
    [resizeEdges]="{ left: true }"
  ></div>
  <div
    class="resize-handle-right bg-warning"
    mwlResizeHandle
    [resizeEdges]="{ right: true }"
  ></div>
  <div
    class="resize-handle-bottom bg-success"
    mwlResizeHandle
    [resizeEdges]="{ bottom: true }"
  ></div>
</div> -->

<!-- TODO:  עובד ! לא לגעת -->
<!-- <div
  class="rectangle"
  mwlResizable
  [enableGhostResize]="true"
  (resizeEnd)="onResizeEnd($event)"
  [ngStyle]="style"
>
  <div
    class="resize-handle-right bg-warning"
    mwlResizeHandle
    [resizeEdges]="{ right: true }"
  ></div>
</div> -->

<!-- TODO:  עובד ! לא לגעת -->
<div
  class="rectangle"
  mwlResizable
  [enableGhostResize]="true"
  (resizeEnd)="onResizeEnd($event)"
  [ngStyle]="style"
>
  <div
    class="resize-handle-right bg-warning"
    mwlResizeHandle
    [resizeEdges]="{ right: true }"
  ></div>
</div>
<br /><br />
<hr />
<br /><br />
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-3"><app-cart></app-cart></div>

    <div class="col-9">
      <div class="row"><app-products-area></app-products-area></div>
    </div>
  </div>
</div> -->
<div class="container-fluid">
  <div class="row">
    <div
      class="col-3 cartArea"
      class="rectangle"
      mwlResizable
      [enableGhostResize]="true"
      (resizeEnd)="onResizeEnd($event)"
      [ngStyle]="style"
    >
      <app-cart></app-cart>
      <div
        class="resize-handle-right bg-warning"
        mwlResizeHandle
        [resizeEdges]="{ right: true }"
      ></div>
    </div>
    <div class="col-9">
      <div class="row productArea"><app-products-area></app-products-area></div>
    </div>
  </div>
</div>
