<div class="card productCard">
  <img
    class="card-img-top mt-3 productImg"
    src="http://www.localhost:5001/{{ product.ImageName }}"
    alt="{{ product.ProductName }}"
  />
  <div class="card-body productCard d-grid gap-2">
    <h6 class="card-title">{{ product.ProductName }}</h6>
    <p class="card-text cardDescription">{{ product.Description }}</p>
    <h4 class="card-text">{{ product.Price }} &#8362;</h4>
    <i
      *ngIf="usersService._currentUserObj.Role === 0"
      class="cartPlusIcon fas fa-lg fa-cart-plus"
      title="הוסף לעגלה"
      (click)="
        cartsService.addProdToCart('/carts/insertProdToCart', {
          productID: product.ID,
          price: product.Price
        })
      "
    ></i>
    <i
      *ngIf="usersService._currentUserObj.Role === 1"
      class="far fa-edit"
      (click)="
        productsService._showAdminForm = true;
        productsService._addVsEdit = 1;
        productsService._newProductObj = product
      "
    ></i>
  </div>
  <!-- <div #singleBTN (click)="btnClicked()">try me</div> -->
  <!-- <div (click)="btnClicked()">try me</div> -->
</div>
