<div class="card productCard">
  <img
    class="card-img-top mt-3"
    src="{{ product.ImageName }}"
    alt="{{ product.ProductName }}"
  />
  <div class="card-body productCard d-grid gap-2">
    <h6 class="card-title text-center">{{ product.ProductName }}</h6>
    <p class="card-text text-end cardDescription">{{ product.Description }}</p>
    <h5 class="card-text">{{ product.Price }} &#8362;</h5>

    <div class="row">
      <div class="col-4 pt-4">
        <i
          *ngIf="usersService._currentUserObj.Role === 0 && !product.qnt"
          class="fas fa-lg fa-cart-plus cursorPointer iconsColor"
          title="הוסף לעגלה"
          (click)="
            addProdToCart('/carts/insertProdToCart', {
              product: product,
              price: product.Price
            })
          "
        ></i>
        <i
          *ngIf="product.qnt"
          title="הסרה מעגלה"
          class="fas fa-trash cursorPointer iconsColor"
          (click)="
            deleteProductFromCart('/carts/deleteProductFromCart', {
              productID: product.ID,
              cartID: cartsService._currentCart.ID
            })
          "
        ></i>
        <i
          title="עריכת פריט"
          *ngIf="usersService._currentUserObj.Role === 1"
          class="far fa-edit cursorPointer iconsColor"
          (click)="
            settingsService._isCartVisible = true;
            productsService._showAdminForm = true;
            productsService._addVsEdit = 1;
            productsService._newProductObj = product
          "
        ></i>
      </div>
      <div class="col-8">
        <app-plus-minus-icons
          *ngIf="product.qnt"
          [product]="product"
          [isProdInCart]="false"
        ></app-plus-minus-icons>
      </div>
    </div>
  </div>
</div>
<!-- src="http://www.localhost:5001/{{ product.ImageName }}" -->
